/*Global Styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

html {
    --all-text-font: 'Inter Tight', 'Helvetica', sans-serif;
    --timer-quote-font: 'Michroma', sans-serif;
    --text-color: #3D4C52;
    --hover-text-transition: font-weight 150ms ease-out;
    --smooth-appearance-transition: opacity 200ms ease-out, visibility 200ms ease-out;
    --timer-text-size: 1.6rem;
    font-family: var(--all-text-font);
    color: var(--text-color);
    background-image: linear-gradient(to bottom, #acc3ad, white, white);
    background-size: cover;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "header header"
    "timer-setup quote-generator"
    "music-player music-player";
}

/*Navigation bar*/

header {
    grid-area: header;
    padding: 2rem 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 6rem;
}

.header-name h1 {
    font-size: 4rem;
    line-height: 0.8;
}

.nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 6rem;
}

.nav-container ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-container li {
    padding: 0 1.3rem;
    font-size: 1.3rem;
}

.nav-container a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 400;
    transition: var(--hover-text-transition);
    cursor: pointer;
}

.nav-container a:hover {
    transition: var(--hover-text-transition);
    font-weight: 700;
}

.nav-container a:active {
    font-weight: 700;
}

.logo {
    height: 120px;
    width: auto;
}

/*Timer-setup*/

.timer-setup {
    grid-area: timer-setup;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-auto-rows: repeat(5, auto);
    grid-template-areas:
    ". timer-instruction ."
    ". timer-selector ."
    ". timer ."
    ". timer-buttons ."
    ". progress-bar .";
    margin-left: 6rem;;
}

.timer-instruction {
    grid-area: timer-instruction;
    font-size: var(--timer-text-size);
    font-weight: 700;
    border-left: var(--text-color) 5px solid;
    padding-left: 7px;
    margin-top: 4rem;
    max-height: fit-content;
}

.timer-selector{
    grid-area: timer-selector;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1rem;
}

.timer-selector ul {
    display: flex;
    flex-direction: column;
}

.timer-selector li {
    font-size: var(--timer-text-size);
    cursor: pointer;
    transition: var(--hover-text-transition);
}

.timer-selector li:hover {
    transition: var(--hover-text-transition);
    font-weight: 700;
}

.timer-selected {
    font-weight: 700;
}

.timer {
    grid-area: timer;
    opacity: 0;
    visibility: hidden; /* Use visibility to reserve space */
    display: flex; 
    font-family: var(--timer-quote-font);
    font-size: 5.5rem;
    transition: var(--smooth-appearance-transition);
}

.timer.visible {
    opacity: 1;/* Fully visible */
    visibility: visible; /* Visible when class is added */
}

#start-button, #pause-button {
    grid-area: timer-buttons;
    opacity: 0;
    visibility: hidden; /* Use visibility to reserve space */
    display: flex;
    max-height: fit-content;
    font-family: var(--all-text-font);
    font-size: var(--timer-text-size);
    color: var(--text-color);
    background: transparent;
    text-align: left;
    border: none;
    cursor: pointer;
    transition: var(--smooth-appearance-transition);
}

#start-button.visible, #pause-button.visible {
    opacity: 1; /* Fully visible */
    visibility: visible; /* Visible when class is added */
}

#start-button:hover, #pause-button:hover {
    transition: var(--hover-text-transition);
    font-weight: 700;
}

#progress-bar {
    grid-area: progress-bar;
    opacity: 0;
    visibility: hidden; /* Use visibility to reserve space */
    display: flex;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 6rem;
    height: 2rem;
    width: 100%;
    background-color: var(--text-color);
    transition: var(--smooth-appearance-transition);
}

#progress-bar.visible {
    opacity: 1; /* Fully visible */
    visibility: visible; /* Visible when class is added */
}

#progress-percentage {
    font-size: var(--timer-text-size);
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 1;
}

#progress-indicator {
    height: 100%;
    width: 0%;
    background-color: #ACC3AD;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

/*Quote generator*/

#quote-generator {
    grid-area: quote-generator;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "quote ."
    "quote-author .";
    margin-right: 6rem;
    margin-bottom: 6rem;
}

#quote, #quote-author {
    opacity: 0;
    transition: opacity 200ms ease-out;
}

#quote.visible, #quote-author.visible {
    opacity: 1;
}

#quote {
    grid-area: quote;
    font-family: var(--timer-quote-font);
    font-size: 2rem;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
   
}

#quote-author {
    grid-area: quote-author;
    font-family: var(--timer-quote-font);
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}