/*General styles ruleset*/
:root {
    /*Colors*/
    --text-color: #292823;
    --lightest-color: #F2F2EA;
    --light-color: #ECE9E0;
    --accent-orange: #FC8C67;
    --accent-blue: #659FB8;
    --accent-green: #8CB6AC;
    /*Font Sizes*/
    --font-size-xl: 4rem;
    --font-size-m: 1.3rem;
    --font-size-s: 1rem;
    --font-size-xs: 0.8rem;
    /* Space */
    --bottom-padding: 1rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
html {
    font-family: 'Roboto', sans-serif;
    background-color: var(--lightest-color);
    background-size: cover;
    color: var(--text-color);
}
h1, h2 {
    font-size: var(--font-size-xl);
    font-weight: bolder;
}
h3 {
    font-size: var(--font-size-m);
    font-weight: bolder;
}
p {
    font-size: var(--font-size-s);
}
p .card-number {
    font-size: var(--font-size-xs);
}
a{
    text-decoration: none;
    color: var(--text-color);
}
a:hover {
    color: var(--accent-orange);
}

/* Overall Grid layout */

body {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: 
    "header"
    "projects"
    "philosophy"
    "team"
    "contact";
}
header {
    grid-area: header;
    display: grid;
    grid-template-columns: 4fr 2fr 4fr;
    grid-auto-rows: auto;
    grid-template-areas: 
    "logo . nav";
}

header, section {
    padding-left: min(100px, 10%);
    padding-right: min(100px, 10%);
}

header h1 {
    grid-area: logo;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
header nav {
    grid-area: nav;
}
ul {
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#nav-projects {
    grid-area: nav-projects;
}
#nav-philosophy {
    grid-area: nav-philosophy;
}
#nav-team {
    grid-area: nav-team;
}
#nav-contact {
    grid-area: nav-contact;
}
#projects {
    grid-area: projects;
}
#philosophy {
    grid-area: philosophy;
}
#team {
    grid-area: team;
}
#contact{
    grid-area: contact;
}

/* Border symbols */

#symbols-left {
    font-size: var(--font-size-s);
    text-align: center;
    position: fixed;
    top: 0;
    left: 38px;
}
#symbols-right {
    font-size: var(--font-size-s);
    text-align: center;
    position: fixed;
    top: 0;
    right: 38px;
}

/* Projects Section */
#projects {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.project-card {
    aspect-ratio: 1/1;
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr auto auto;
    align-items: start;
    justify-items: start;
}

.project-card h3 {
    padding-bottom: var(--bottom-padding);
}
.project-card p {
    padding-bottom: 0;
}

#project-card-0 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#project-card-1 {
    background-color: var(--accent-orange);
}

#project-card-2 {
    background-color: var(--light-color);
}

#project-card-3 {
    background-color: var(--accent-blue);
}

#project-card-4 {
    background-color: var(--accent-green);
}

/* Philosophy Section */
#philosophy {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(7, 82px);
}

#philosophy-heading-1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#philosophy-heading-2 {
    grid-column: 7 / span 4;
    grid-row: 3 / span 2;
    display: flex;
    align-items: flex-end;
    justify-self: center;
    z-index: 1;
}

#asterisk-1 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    font-size: var(--font-size-xl);
    display: flex;
    align-items: center;
    justify-content: center;
}

#philosophy-image {
    grid-column: 4 / span 3;
    grid-row: 1 / span 7;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#philosophy-image img {
    width: auto;
    height: 90%;
}

#philosophy-p-1 {
    grid-column: 2 / span 2;
    grid-row: 3 / span 2;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 25px;
}

#philosophy-p-1 p {
    max-width: 100%;
}

#philosophy-p-2 {
    grid-column: 3 / span 2;
    grid-row: 5 / span 2;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

#philosophy-p-2 p {
    max-width: 100%;
}

#philosophy-p-3 {
    grid-column: 6 / span 4;
    grid-row: 2 / span 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

#philosophy-p-3 p {
    max-width: 100%;
    padding-left: 30px;
}

#philosophy-p-4 {
    grid-column: 6 / span 3;
    grid-row: 6 / span 1;
    display: flex;
    align-items: flex-end;
    justify-self: center;
}

#philosophy-p-4 p {
    max-width: 30ch;
    padding-left: 65px;
}
/* Team Section */
#team {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(7, 82px);
}

#team-heading-1 {
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#team-heading-2 {
    grid-column: 4 / span 3;
    grid-row: 1 / span 2;
    display: flex;
    align-items: center;
    justify-self: center;
    z-index: 1;
}

#team-heading-3 {
    grid-column: 9 / span 2;
    grid-row: 4 / span 2;
    display: flex;
    align-items: center;
    justify-self: center;
    z-index: 1;
}

#team-member-1 {
    grid-column: 3 / span 2;
    grid-row: 3 / span 5;
}

#team-member-2 {
    grid-column: 5 / span 2;
    grid-row: 3 / span 5;
}

#team-member-3 {
    grid-column: 7 / span 2;
    grid-row: 3 / span 5;
}

.team-member-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: center;
}

.team-member-card img {
    width: auto;
    height: 230px;
    align-self: center;
    padding-bottom: var(--bottom-padding);
    padding-top: var(--bottom-padding);
}

.team-member-card h3, .team-member-card p {
    padding-bottom: var(--bottom-padding);
    max-width: 180px;
    text-align: left;
}

.team-member-card h3 {
    font-size: var(--font-size-s);
    font-weight: 400;
}

/* Contact Section */
#contact {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 82px) auto;
}

#contact-heading-1 {
    grid-column: 3 / span 3;
    grid-row: 1 / span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
#contact-heading-2 {
    grid-column: 6 / span 3;
    grid-row: 4 / span 1;
    display: flex;
    align-items: center;
    justify-self: center;
    z-index: 1;
}

#contact-slogan {
    grid-column: 6 / span 2;
    grid-row: 2 / span 2;
    display: flex;
    align-items: center;
    justify-self: center;
}

#contact-slogan p {
    max-width: 100%;
}

#asterisk-2 {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
    font-size: var(--font-size-xl);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#semicolon {
    grid-column: 7 / span 1;
    grid-row: 5 / span 2;
    font-size: var(--font-size-xl);
    display: flex;
    align-items: center;
    justify-content: center;
}

#social-media-links {
    grid-column: 4 / span 2;
    grid-row: 3 / span 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#social-media-links h2 {
    padding-bottom: var(--bottom-padding);
}

#social-media-links p {
    text-align: center;
}

footer {
    grid-column: 1 / -1;
    grid-row: 7 / span 1;
    display: flex;
    align-items: center;
    justify-content: center;
}





